{% extends "base.html.twig" %}
{% block title %} A bientôt | Kina{% endblock %}
{% block page_title_title %} A bientôt  {% endblock %}
{% block page_title_second_title_empty %}{% endblock %}
{% block page_title_second_title_full_title %}{% endblock %}
{% block page_title_content %} Apprendre ikinyarwanda en jouant? <br> Par groupe de 5 enfants maximun, les enfants apprennent à nommer les élements qui les entourent.{% endblock %}

{% block content %}
<!-- related course -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">      
        <h2 class="section-title"> <i class="ti-book text-primary icon-md mr-2"></i> Session déconnectée ! <br> {#Etape 2#}</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- course item -->
      <div class="col-lg-8 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
       
        </div>
      </div>
      <!-- course item -->          
    </div>
  </div>
</section>
<!-- /related course -->



{% endblock %}
