<!-- hero slider -->
<section
  class="hero-section overlay bg-cover"
  data-background="images/banner/banner-1.jpg"
>
  <div class="container">
    <div class="hero-slider">
      <!-- slider item -->
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            <h1
              class="text-white"
              data-animation-out="fadeOutRight"
              data-delay-out="5"
              data-duration-in=".3"
              data-animation-in="fadeInLeft"
              data-delay-in=".1"
            >
              Apprendre ikinyarwanda en jouant 
            </h1>
            <p
              class="text-muted mb-4"
              data-animation-out="fadeOutRight"
              data-delay-out="5"
              data-duration-in=".3"
              data-animation-in="fadeInLeft"
              data-delay-in=".4"
            >
              Apprendre en s'amusant? Jouer est l'activité que l'enfant pratique avec enthousiasme et énergie. Se mettre à sa hauteur et intéragir avec lui dans la langue à apprendre semble être une formule qui marche.
            </p>
            <a
              href="{{ path ('contact') }}"
              class="btn btn-primary"
              data-animation-out="fadeOutRight"
              data-delay-out="5"
              data-duration-in=".3"
              data-animation-in="fadeInLeft"
              data-delay-in=".7"
              >Nous joindre</a
            >
          </div>
        </div>
      </div>
      <!-- slider item -->
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            <h1
              class="text-white"
              data-animation-out="fadeOutRight"
              data-delay-out="5"
              data-duration-in=".3"
              data-animation-in="fadeInLeft"
              data-delay-in=".1"
            >
              Un baby-sitting où l'enfant apprend et s'éveille 
            </h1>
            <p
              class="text-muted mb-4"
              data-animation-out="fadeOutRight"
              data-delay-out="5"
              data-duration-in=".3"
              data-animation-in="fadeInLeft"
              data-delay-in=".4"
            >
              Apprendre en s'amusant? Jouer est l'activité que l'enfant pratique avec enthousiasme et énergie. Se mettre à sa hauteur et intéragir avec lui dans la langue à apprendre est la formule à adopter.
            </p>
            <a
              href="{{ path ('contact') }}"
              class="btn btn-primary"
              data-animation-out="fadeOutRight"
              data-delay-out="5"
              data-duration-in=".3"
              data-animation-in="fadeInLeft"
              data-delay-in=".7"
              >Nous joindre</a
            >
          </div>
        </div>
      </div>
      <!-- slider item -->
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            <h1
              class="text-white"
              data-animation-out="fadeOutRight"
              data-delay-out="5"
              data-duration-in=".3"
              data-animation-in="fadeInLeft"
              data-delay-in=".1"
            >
              Par groupe de 5 enfants maximun, les enfants apprennent
            </h1>
            <p
              class="text-muted mb-4"
              data-animation-out="fadeOutRight"
              data-delay-out="5"
              data-duration-in=".3"
              data-animation-in="fadeInLeft"
              data-delay-in=".4"
            >
              Par groupe de 5 enfants maximun, les enfants apprennent à nommer les élements qui les entourent.<br>
              Apprendre en s'amusant? Jouer est l'activité que l'enfant pratique avec enthousiasme et énergie. Se mettre à sa hauteur et intéragir avec lui dans la langue à apprendre semble être une formule qui marche.
            </p>
            <a
              href="{{ path ('contact') }}"
              class="btn btn-primary"
              data-animation-out="fadeOutRight"
              data-delay-out="5"
              data-duration-in=".3"
              data-animation-in="fadeInLeft"
              data-delay-in=".7"
              >Nous joindre</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /hero slider -->
