{% extends "base.html.twig" %}
{% block title %} Oops! Erreur | Kina {% endblock %}
{% block page_title_title %} Oops! {% endblock %}
{% block page_title_second_title_full %}{% endblock %}
{% block page_title_content %} {{error}} {% endblock %}

{% block content %}
<!-- contact -->
<section class="section bg-gray">
 <div class="container">
      <div class="row">
        <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
          <h3 class="text-white"></h3>
          
          <a
              href="{{ path ('contact') }}"
              class="btn btn-secondary"
              data-animation-out="fadeOutRight"
              data-delay-out="5"
              data-duration-in=".3"
              data-animation-in="fadeInLeft"
              data-delay-in=".7"
              >Signaler</a
            >
         
        </div>
      </div>
    </div>
</section>
<!-- /contact -->

<!-- gmap -->
<section class="section pt-0">
  <!-- Google Map -->
</section>
<!-- /gmap -->
{% endblock %}